[bumpversion]
current_version = 0.1.0
commit = False
tag = False
message = "Bump version: {current_version} → {new_version}"
tag_name = "{new_version}"

[bumpversion:file:RLBook/Chapter1/__init__.py]

[bumpversion:file:RLBook/Chapter2/__init__.py]

[bumpversion:file:RLBook/Chapter3/__init__.py]

[bumpversion:file:RLBook/Chapter4/__init__.py]

[bumpversion:file:RLBook/Chapter5/__init__.py]

[bumpversion:file:RLBook/Chapter6/__init__.py]

[bumpversion:file:RLBook/Chapter7/__init__.py]

[bumpversion:file:RLBook/Chapter8/__init__.py]

[bumpversion:file:RLBook/Chapter9/__init__.py]

[bumpversion:file:RLBook/Chapter10/__init__.py]

[bumpversion:file:RLBook/Chapter12/__init__.py]

[bumpversion:file:RLBook/Chapter13/__init__.py]

[bumpversion:file:RLBook/Utils/__init__.py]

[bumpversion:file:RLBook/__init__.py]

[bumpversion:CODE_OF_CONDUCT.md]

[bumpversion:README.md]

[bumpversion:setup.py]
